/* ACA VA TODO LO Q TENGO Q COPIAR Y PEGAR DEL CSS*/

.footer{
    .desarrollado{
        display: flex;
        justify-content: center;
        padding: 15px;
        background-color:map-get($map: $footer-color, $key: f1-color);
        color: white;
    }
    .nombre-cabaña{
        display: flex;
        justify-content: center;
        background-color:map-get($map: $footer-color, $key: f2-color);
        color: white;
    }

}